{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'resources/sheet.css' %}">
</head>
<body>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" id="pita-day-id">
        <a class="nav-link active" id="pita-day-tab" data-toggle="tab" href="#pita-day" role="tab"
           aria-controls="pita-day"
           aria-selected="true">Пита день-03</a>
    </li>
    <li class="nav-item" id="cake-day-id">
        <a class="nav-link" id="cake-day-tab" data-toggle="tab" href="#cake-day" role="tab" aria-controls="cake-day"
           aria-selected="false">Булочка день-03</a>
    </li>
    <li class="nav-item" id="lavash-day-id">
        <a class="nav-link" id="lavash-day-tab" data-toggle="tab" href="#lavash-day" role="tab"
           aria-controls="lavash-day"
           aria-selected="false">Лаваш день-03</a>
    </li>
    <li class="nav-item" id="pita-night-id">
        <a class="nav-link" id="pita-night-tab" data-toggle="tab" href="#pita-night" role="tab"
           aria-controls="pita-night"
           aria-selected="false">Пита ночь-03</a>
    </li>
    <li class="nav-item" id="cake-night-id">
        <a class="nav-link" id="cake-night-tab" data-toggle="tab" href="#cake-night" role="tab"
           aria-controls="cake-night"
           aria-selected="false">Булочка ночь-03</a>
    </li>
    <li class="nav-item" id="lavash-night-id">
        <a class="nav-link" id="lavash-night-tab" data-toggle="tab" href="#lavash-night" role="tab"
           aria-controls="lavash-night"
           aria-selected="false">Лаваш ночь-03</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="pita-day" role="tabpanel" aria-labelledby="pita-day-tab">
        {% include 'Пита день-03.html' %}
    </div>
    <div class="tab-pane fade" id="cake-day" role="tabpanel" aria-labelledby="cake-day-tab">
        {% include 'Булочка день-03.html' %}
    </div>
    <div class="tab-pane fade" id="lavash-day" role="tabpanel" aria-labelledby="lavash-day-tab">
        {% include 'Лаваш день-03.html' %}
    </div>
    <div class="tab-pane fade" id="pita-night" role="tabpanel" aria-labelledby="pita-night-tab">
        {% include 'Пита ночь-03.html' %}
    </div>
    <div class="tab-pane fade" id="cake-night" role="tabpanel" aria-labelledby="cake-night-tab">
        {% include 'Булочка ночь-03.html' %}
    </div>
    <div class="tab-pane fade" id="lavash-night" role="tabpanel" aria-labelledby="lavash-night-tab">
        {% include 'Лаваш ночь-03.html' %}
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(`#pita-day-id`).css('display', 'none')
        $(`#cake-day-id`).css('display', 'none')
        $(`#lavash-day-id`).css('display', 'none')
        $(`#pita-night-id`).css('display', 'none')
        $(`#cake-night-id`).css('display', 'none')
        $(`#lavash-night-id`).css('display', 'none')
        console.log('{{ request.user.machine_id.field_day }}' === 'pita-day-id')
        if ('{{ request.user.machine_id.field_day }}' === 'pita-day-id') {
            $(`#pita-day`).addClass('show active')
        } else if ('{{ request.user.machine_id.field_day }}' === 'cake-day-id') {
            $(`#cake-day`).addClass('show active')
        } else if ('{{ request.user.machine_id.field_day }}' === 'lavash-day-id') {
            $(`#lavash-day`).addClass('show active')
        }
        $(`#{{ request.user.machine_id.field_day }}`).css('display', 'block')
        $(`#{{ request.user.machine_id.field_night }}`).css('display', 'block')
        redirectTime = '{{ setting_interval }}' + '000';
        redirectURL = "{% url 'news' %}";
        setTimeout("location.href = redirectURL;", redirectTime);
    })
</script>
