<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        padding: 3rem;
        font-size: 16px;
    }

    textarea {
        width: 100%;
        min-height: 30rem;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 0.8rem;
        line-height: 1.2;
    }
</style>
<body>
<h1>Google Sheets</h1>
    <h5>{{ pita_day_third }}</h5>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        {#var someJsonString = $('.myTextarea')[0].textContent;#}
        {#var jsonObject = eval('(' + someJsonString + ')');#}
        {#alert(JSON.parse($('.myTextarea')[0].textContent));#}
        {#var myData = $('.myTextarea')[0].textContent#}
        {#console.log(myData)#}
        {##}
        {#var textedJson = JSON.stringify(myData, undefined, 4);#}
        {#$('.myTextarea')[0].textContent = textedJson;#}
    })

</script>
</html>