{% load static %}
{% block title %}
{% endblock title %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


{% block content %}
    <div class="">
        {% if news.news_type == 'video' %}
            <iframe id="video" src="{{ news.youtube_url }}?rel=0&autoplay=1&mute=1" frameborder="0"
                    allowfullscreen></iframe>
        {% elif news.news_type == 'photo' %}
            <img width="100%" height="100%" src="{{ news.file.url }}" alt="">
        {% elif news.news_type == 'text' %}
            <h2>{{ news.description }}</h2>
        {% endif %}
    </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="{% static 'js/playerjs.js' %}" type="text/javascript"></script>
<script>
    $(function () {
        $('#video').css({width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px'});

        // If you want to keep full screen on window resize
        $(window).resize(function () {
            $('#video').css({width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px'});
        });
    });
    $(document).ready(function () {
        redirectTime = '{{ news.interval }}' + '000';
        redirectURL = "{% url 'google-sheet' %}";
        setTimeout("location.href = redirectURL;", redirectTime);
    })
</script>
