{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>Пример html таблицы c подсветкой четных и нечетных строк на CSS3</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Purcus</th>
					<th>Hantis</th>
					<th>Mastron</th>
					<th>Jevicon</th>
					<th>Lang</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Gitsome</td>
					<td>Some one</td>
					<td>Take mose</td>
					<td>Likbes</td>
					<td>Racounter</td>
				</tr>
				<tr>
					<td>Linkage</td>
					<td>Fordor</td>
					<td>Miad ron me</td>
					<td>Diablo core</td>
					<td>Tidbade</td>
				</tr>
				<tr>
					<td>Hicura</td>
					<td>Warecom</td>
					<td>Xamicon</td>
					<td>Yamama</td>
					<td>Udoricano</td>
				</tr>
				<tr>
					<td>Lavistaro</td>
					<td>Micanorta</td>
					<td>Ebloconte ma</td>
					<td>Quad ri port</td>
					<td>Timesquer</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>